<h1 class="title"> Aromatica </h1>

<div class="about-container">
    <img class="about-img"  src="./assets/img/aboutus.jpg" alt="">

    <div class="content">
        <h1> About Us </h1>
        <br>
        <p>
            We started as a small business, envisioning what a perfumery shop could become: 
            providing excellent service, engaging with customers, offering quality products, 
            and affordable prices.
            <br>
            In March 2021, we launched our first location near the city center of Vienna. 
            Our operation was clear; we began with two salespersons and focused on maintaining good relationships
             with our suppliers. As our customer base expanded and our shop grew, we ventured into online selling. 
             Today, with over a million active customers, Aromatica is one of the leading online perfume shops 
             in Austria. We proudly offer 500 national and international brands, with over 10,000 products, 
             providing a large selection to cater to everyone's preferences.
        </p>

    </div>

</div>

