nav{
    margin-bottom: 30px;
}

#cart {
    width: 70px;
}

.container-link {
    position: relative;

    #cart-length {
        font-size: 20px;
        position: absolute;
        top: 10%;
        left: 35%;
        
    
    }
}

