<div class="hero">
        <h1> Aromatica </h1>
        <p> The fragrance that lasts  </p>
        <br>
        <img src="./assets/img/home.jpg" alt="">
</div>

<div class="container">
        
        <br>
        <table>
                <td>
                        <tr><h2>Address</h2></tr>
                        <tr>Kärntnerstraße 16</tr>
                        <tr>1010 Wien</tr>
                        <tr></tr>
                        <tr><h2>Phone</h2></tr>
                        <tr>+43 123 4567</tr>
                        <tr></tr>
                        <tr><h2>Email</h2></tr>
                        <tr>info&#64;aromatica.at</tr>
                </td>
                <td>
                        <tr><h2>Opening Hours</h2></tr>
                        <tr>Mon - Fri 10am-6pm</tr>
                        <tr>Saturday 10am-5pm</tr>
                        <tr>Sunday & Holidays closed</tr>
                </td>
                <td>
                        <tr><h2>How to find us</h2></tr>
                        <tr><h3>Public Transport</h3></tr>
                        <tr>U1/U3 Stephansplatz</tr>
                        <tr></tr>
                        <tr><h3>Parking Garage</h3></tr>
                        <tr>Parking Garage Rauhensteingasse</tr>
                </td>
        </table>
        
    
</div>
